{% extends "base_form.html" %}
{% load crispy_forms_tags %}

{% block form_header %}Signup{% endblock %}
{% block form_action %}{% url 'signup' %}{% endblock %}
{% block form-content %}
  {% if user_form.errors %}
      <div class="form-group has-error">
        <span class="help-block">{{ user_form.text.errors }}</span>
      </div>
  {% endif %}
  {% if profile_form.errors %}
      <div class="form-group has-error">
        <span class="help-block">{{ profile_form.text.errors }}</span>
      </div>
  {% endif %}
  {{user_form|crispy}}
  {{profile_form|crispy}}
{% endblock %}

{% block submit-value %}Signup{% endblock %}
