{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block stuff %}
  <div class="container d-flex justify-content-center">
    <div class="col-6">
      <div class="card">
        <h4 class="card-header">{% block card_header %}Add a person{% endblock %}</h4>
        <div class="card-body">
          <form action="{% block form_action %}{% url 'add_person' %}{% endblock %}" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input class="btn btn-primary" type="submit" name="" value="{% block button_text %}Add Person{% endblock %}">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
